<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruthvik.app_testing_5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_testing_5">
        <activity
            android:name=".settings.chatsActivity"
            android:label="@string/title_activity_chats"></activity>
        <activity
            android:name=".settings.appearanceActivity"
            android:label="@string/title_activity_appearance" />
        <activity
            android:name=".settings.accountActivity"
            android:label="@string/title_activity_account" />
        <activity
            android:name=".settings.notificationsActivity"
            android:label="@string/title_activity_notifications" />
        <activity
            android:name=".settings.profileActivity"
            android:label="@string/title_activity_profile" />
        <activity android:name=".actionBar" />
        <activity android:name=".ChatDetailsActivity" />
        <activity android:name=".continueToMainActivity" />
        <activity android:name=".continueToLoginActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>